@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');

@font-face {
    font-family: NexaBold;
    src: url('../assets/Fonts/nexa/Nexa\ Bold.otf');
  }

body {
    margin: 0;
}

h1{
    font-family: NexaBold;
    font-size: 45pt;
}

h2{
    font-family: NexaBold;
    font-size: 33pt;
}

h3{
    font-family: NexaBold;
    font-size: 25pt;
}

h4{
    font-family: NexaBold;
    font-size: 14pt;
}

h5{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    display: inline-flex;
}

p{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
}

//HOME PAGE

.hometitle{
    margin: 80px 30px 0px 30px;
   
}

.homesubtitle{
    margin-top: -20px;
}

.desktophomesubtitle{
    font-size: 20pt;
}

.homeimg{
    height: auto;
    max-width: 95%;
}

.homeimgcont{
    display: flex;
    justify-content: center;
}

.desktophomeimg{
    height: auto;
    max-width: 800px;
    width: 100%;
}

.desktophomeimgcont{
    display: flex;
    justify-content: flex-end;
    // margin-right: 30px;
    margin-top: 40px;
    margin: 10px;
}

// .homedesktopflex{
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
// }

@media (min-width: 480px) {
    .homedesktopflex {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
  }

@media (max-width: 480px) {
    .homedesktopflex {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
  }

  .downarrow{
      width: 60px;
  }

  .downarrowcont{
      display: flex;
      width: 100%;
      justify-content: center;
      margin: 150px 0px 150px 0px;
  }

  .uihomeimgcont{
    height: auto;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .uihomeimg{
    height: auto;
    max-width: 95%;
  }

  .homesectiontitle{
      margin-left: 15px;
  }

  .homesectiondesc{
      font-size: 15pt;
      margin-left: 15px;
  }

  .sectionhomebutton{
      margin-left: 15px;
      margin-top: 30px;
  }

  .graphicdesignhome{
      margin-top: 170px;
  }

  @media (min-width: 480px) {
    .graphicdesignhome {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .graphichometext{
        display: flex;
        flex-direction: column;
    }
  }