@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');

@font-face {
    font-family: NexaBold;
    src: url('../assets/Fonts/nexa/Nexa\ Bold.otf');
  }

body {
    margin: 0;
}

h1{
    font-family: NexaBold;
    font-size: 45pt;
}

h2{
    font-family: NexaBold;
    font-size: 33pt;
}

h3{
    font-family: NexaBold;
    font-size: 25pt;
}

h4{
    font-family: NexaBold;
    font-size: 14pt;
}

h5{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    display: inline-flex;
}

p{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
}

//HOME PAGE

.topmargin{
    margin-top: 80px;
}

.hometitle{
    margin: 0px 30px 0px 30px;
}

.homesubtitle{
    margin-top: -20px;
}

.desktophomesubtitle{
    font-size: 20pt;
}

.homeimg{
    height: auto;
    max-width: 95%;
}

.homeimgcont{
    display: flex;
    justify-content: center;
}

.desktophomeimg{
    height: auto;
    max-width: 800px;
    width: 100%;
}

.desktophomeimgcont{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin: 10px;
}

@media (min-width: 480px) {
    .homedesktopflex {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
  }

@media (max-width: 480px) {
    .homedesktopflex {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
  }

  .downarrow{
      width: 60px;
      cursor: pointer;
  }

  .downarrowcont{
      display: flex;
      width: 100%;
      justify-content: center;
      margin: 220px 0px 220px 0px;
  }

  .uihomeimgcont{
    height: auto;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 30px;
  }

  .uihomeimg{
    height: auto;
    max-width: 95%;
  }

  .homesectiontitle{
      margin-left: 15px;
  }

  .homesectiondesc{
      font-size: 15pt;
      margin-left: 15px;
  }

  .sectionhomebutton{
      margin-left: 15px;
      margin-top: 30px;
  }

  .graphicdesignhome{
      margin-top: 170px;
  }

  @media (min-width: 480px) {
    .graphicdesignhome {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .graphichometext{
        display: flex;
        flex-direction: column;
    }
  }



  //UI UX DESIGN PAGE

  .uiux{
      margin: 0px;
  }

  html{
      scroll-behavior: smooth;
      
  }

  .scroll{
    transition-delay: 1000ms;
    transition-timing-function: ease-out;
  }

  .uititlecont{
      width: 100%;
      background-image: url('/uiuxbanner.png');
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
  }

  .titlecont{
    width: 100%;
    background-image: url('/graphicdesignbanner.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .subtitlecont{
      margin-top: 6%;
      text-align: center;
  }

  .uiuxtitle{
      font-size: 11vw;
      color: white;
  }

  .uiuxsubtitle{
      margin-top: -70px;
      font-size: 20pt;
      color: white;
  }

  @media (max-width: 600px) {
      .uiuxsubtitle{
          margin: 0px 20px 0px 20px;
          font-size: 15pt;
      }
      .earthherotitle{
          font-size: 35pt !important;
      }
      .uiprojectinfo{
          margin-left: 46px !important;
          margin-top: 80px !important;
          margin-right: 46px !important;
      }
      .overview{
          font-size: 28pt !important;
      }
      .uisubtitle{
          font-size: 22pt !important;
      }
      .uibutton{
          margin-right: 0px !important;
      }
      .uibuttonflex{
          flex-direction: column;
      }
  }

  .downarrowcont2{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 90px 0px 40px 0px;
}

.flexbuttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 40px;
}

.downloadsflex{
    width: 100%;
    display: flex;
    justify-content: center;
    
    text-align: center;
}

.uidownloads{
    border: 1px solid lightgray;
    padding: 70px 30px 70px 30px;
    border-radius: 20px;
    margin-top: 120px;
    width: 60%;
}

#earthherocont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 20px;
}

#craigslistcont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 20px;
}

#ddcont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 20px;
}

.earthherotitle{
    font-size: 6vw;
    margin-top: 12%;
    text-align: center;
    line-height: 1.2;
}

.earthheroimg{
    width: 98%;
    
}

.EHimg{
    width: 100%;
}

.flexearthhero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uiprojectinfo{
    margin: 130px;
}

.uiprojecttext{
    font-size: 15pt;
}

.uisubtitle{
    color: #444444;
    font-size: 25pt;
    margin-top: 90px;
}

.uibutton{
    margin-top: 30px;
    margin-right: 30px;
}

.uibuttonflex{
    display: flex;
}


//GRAPHIC DESIGN PAGE

@media (max-width: 1512px) {
    .graphicproject{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }
    .graphicproject{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }
    .subgraphicproject{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        width: 88% !important;
    }
    .graphicprojecttext{
        width: 100% !important;
        margin-top: 30px !important;
    }
    #audiofina{
        width: 100% !important;
        margin-top: 30px !important;
    }
    .projectimage{
        display: flex;
        justify-content: center;
        align-items: center !important;
        width: 100%;
        margin-left: 0 !important;
    }
    #audiofina{
        display: flex;
        justify-content: center;
        align-items: center !important;
        width: 100%;
        margin-left: 0 !important;
    }
    #painting{
        display: flex;
        justify-content: center;
        align-items: center !important;
        width: 100%;
        margin-left: 0 !important;
    }
    #albumcover{
        display: flex;
        justify-content: center;
        align-items: center !important;
        width: 100%;
        margin-left: 0 !important;
    }
    .gamecubecont{
        max-width: 500px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #vector{
        max-width: 500px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .leftmargin{
        margin:0 !important;
        width: 100% !important;
    }
    .paintingtext{
        width: 100% !important;
        margin-top: 30px !important;
    }
    .graphictitle{
        font-size: 35pt;
    }
}

@media (min-width: 1513px){
    .projectimage{
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        width: 40% !important;
    }
    #audiofina{
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        width: 40% !important;
    }
    #painting{
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        width: 40% !important;
    }
    #albumcover{
        display: flex;
        flex-direction: column;
        margin-left: 90px;
        width: 40% !important;
    }
    .graphicprojecttext{
        width: 100% !important;
        max-width: 800px !important;
        margin-left: 90px !important;
    }
    #audiofina{
        width: 100% !important;
        max-width: 800px !important;
        margin-left: 90px !important;
    }
    .paintingtext{
        margin-left: 90px !important;
    }
}

.projectimage{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-left: 90px;
}
#audiofina{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-left: 90px;
}
#painting{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-left: 90px;
}
#albumcover{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-left: 90px;
}

.logos{
    max-width: 100%;
}

.graphicproject{
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.graphicprojecttext{
    margin-top: 120px;
    width: 40%;
}

#audiofina{
    margin-top: 120px;
    width: 40%;
}

.subgraphicproject{
    width: 85%;
    display: flex;
    justify-content: center;
}

.graphictext{
    font-size: 15pt;
}

.gamecubecont{
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

#vector{
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.gamecube{
    max-width: 100%;
}

.gamecubetext{
    margin-top: 120px;
    width: 40%;
    margin-right: 100px;
}

.paintingtext{
    margin-top: 160px;
    width: 40%;
    display: flex;
    flex-direction: column !important;
}

.leftmargin{
    width: 40%;
    margin-left: 100px;
    margin-top: 120px;
}