// @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&display=swap');

@font-face {
    font-family: NexaBold;
    src: url('../assets/Fonts/nexa/Nexa\ Bold.otf');
  }

body {
    margin: 0;
}

h1{
    font-family: NexaBold;
    font-size: 50pt;
}

h2{
    font-family: NexaBold;
    font-size: 40pt;
}

h3{
    font-family: NexaBold;
    font-size: 20pt;
}

h4{
    
    font-family: NexaBold;
    font-size: 14pt;
    
}